.About {
    padding-top: 20px;
    text-align: center;
}

.section {
    box-shadow: 0 0 10px black;
    width: 400px;
    padding: 15px;
    margin-top: 15px;
    transition: transform .5s;
}
.section:hover {
    transform: scale(1.2);
}

.section button {
    border: none;
    background-color: white;
    outline: none;
    text-decoration: underline;
}
.section button:hover {
    text-shadow: 0 0 10px black;
}

.divpar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}