
  .Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 32, 32);
}
header{
    background-color: brown;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    max-width: 1000px;
    margin: 100px 0;
    transition: transform 1s, box-shadow 1s;
}
header:hover{
    transform: translate(-20px, -20px);
    box-shadow: 10px 10px 0px rgb(99, 0, 0);
}

