
html, body {
  margin: 0;
  background-color: rgb(189, 176, 176);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App .ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 75px;
  background-color: rgb(145, 148, 160);
}
.App .ul li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
}



 .logo {
  width: 60px;
  height: 60px;
  background-size: cover;
  margin-left: 0;
}
/* 
//  today is my 3rd day in a internship  this day was a wonderful our company come 1 employer he is a man with blue eyes and toller 
and he is rushan .Now i don''t now stay here or not i like moving on in the Tashken in a real It company 
and a Vasilii come in our company and he is silent very silent i don't like this types of persons  
*/
  
/* 
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.logo {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.App .divNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #9c9c9cb0;
  box-shadow: 0 0 15px black;
}
.App .ulNav {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 75px;
}
.App .ulNav li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
  color: black;
}

.activeLink {
  color: rgb(255, 0, 0);
}   */